.divider{
    background-color: white;
}
.noticia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    margin-bottom: 15px;
    height: 130px;
    cursor: pointer;
}
.noticia .contenido {
    flex: 1;
    margin-left: 10px;
}
.noticia .medio {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.noticia .medio img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
.noticia .titulo {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.noticia .hora {
    font-size: 12px;
    font-weight: 500;
    color: #aaa;
    margin-top: 8px;
}
.noticia img.imagen-noticia {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
}
.noticia-destacada {
    height: 160px;
    padding: 15px;
}
.noticia-destacada .contenido {
    margin-left: 15px;
}
.noticia-destacada .medio {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
}
.noticia-destacada .medio img {
    width: 40px;
    height: 40px;
    margin-right: 6px;
}
.noticia-destacada .titulo {
    font-size: 20px;
    font-weight: 600;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
} 
.noticia-destacada .hora {
    font-size: 14px;
    font-weight: 500;
    color: #aaa;
    margin-top: 12px;
}
.noticia-destacada img.imagen-noticia {
    width: 135px;
    height: 135px;
    border-radius: 8px;
    object-fit: cover;
}

.publicidad {
    background-color: #fafafa;
    position: relative;
    overflow: hidden;
    padding: 10px;
    height: 420px;
}

.seccion-card {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease;
}

.visible {
    opacity: 1;
    display: block;
    z-index: 1;
}

.oculto {
    opacity: 0;
    display: none;
    z-index: 0;
}

.card{
    box-shadow: none;
}
.card:hover{
    opacity: 0.6;
}

.card-image img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

.card-image {
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.boton-cargar{
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    border: 2px solid white;
    background-color: transparent !important;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
}
.boton-cargar .waves-effect{
    background-color: rgba(255, 255, 255, 0.2) !important;
}
.boton-cargar i.material-icons {
    vertical-align: middle;
}

