<!DOCTYPE html>
<html lang="en">

<head>
    <!--LINKS A LOS CSS Y A PAGINAS CON FUENTE DE TEXTO-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/newsletter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../static/images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciudad Urbana</title>
</head>

<body>
    <div class="header">
        <button href="#" data-target="slide-out" class="sidenav-trigger show-on-large"  id="boton-suscribete">SUSCRIBETE</button>
  <div class="logo">
    <a href="Inicio.html">
      <img src="../static/images/logo2.PNG" style="height: 90px; width: 170px; " alt="Inicio">
    </a>
  </div>
</div>
    
    <!--Barra de navegacion-->
    <div class="navbar">
        <nav class="navbar-custom">
            <div class="nav-wrapper">
                <div class="">
                    <!-- icon mobile-->
                    <a href="#" data-target="mobile-navbar" class="sidenav-trigger">
                        <i class="material-icons center">menu</i>
                    </a>

                    <ul id="navbar-items" class="hide-on-med-and-down center-navbar">
                        <li class="selec-navbar"><a href="newsletter.html">NEWSLETTER</a></li>
                        <li><a href="beneficios_home.html">BENEFICIOS</a></li>
                        <li><a href="nosotros.html">NOSOTROS</a></li>
                   
                    </ul>
                </div>
            </div>
        </nav>
    <!--botonflotante-->
        <div class="fixed-action-btn direction-left">
            <a class="btn-floating btn-large btn-flat">
                <i class="fa-solid fa-comments"></i>
            </a>
            <ul>
                <li><a href="https://www.facebook.com/people/Ciudad-Urbana/100081934966603/?ti=as" class="btn-floating btn-flat"><i class="fab fa-facebook fa-2x"></i></a></li>
                <li><a href="https://x.com/ciudadurbana_ok" class="btn-floating btn-flat"><i class="fab fa-x-twitter fa-2x"></i></a></li>
                <li><a href="https://www.twitch.tv/ciudadurbana" class="btn-floating btn-flat"><i class="fab fa-twitch fa-2x"></i></a></li>
                <li><a href="https://www.instagram.com/ciudadurbana96.1/" class="btn-floating btn-flat"><i class="fab fa-instagram fa-2x"></i></a></li>
                <li><a href="https://www.youtube.com/@ciudadurbana96.1" class="btn-floating btn-flat"><i class="fab fa-youtube fa-2x"></i></a></li>
                <li><a href="https://api.whatsapp.com/send/?phone=542216438319&text&type=phone_number&app_absent=0" class="btn-floating btn-flat"><i class="fab fa-whatsapp fa-2x"></i></a></li>
            </ul>
          </div>
          
        </div>
    
   

    <!-- menu mobile-->
    <ul id="mobile-navbar" class="sidenav">
        <li><a href="noticias.html">Noticias</a></li>
        <li class="selec-navbar"><a href="newsletter.html">Newsletter</a></li>
        <li><a href="beneficios_home.html">Beneficios</a></li>
        <li><a href="nosotros.html">Nosotros</a></li>
        <li><a href="comunidad.html" class="background-white btn">Únete</a></li>
    </ul>
    <br>
    <br>
    <br>

    <div class="container">

        <div class="row">
            <div class="col s12">
                <div class="contenido">
                    <img src="../static/images/PoliticaUrbana.png" style="height: 150px; width: 150px;" alt="">
                    <div>
                        <div class="titulo">
                            <h5>POLÍTICA URBANA</h5>
                        </div>
                        <div class="info">
                            Andrés Noetzly nos cuenta toda la escena política en su contexto actual e histórico. Todos los Viernes.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col s12">
                <div class="contenido">
                    <div>
                        <div class="titulo">
                            <h5>CAFÉ FILOTÓPICO</h5>
                        </div>
                        <div class="info">
                            Agustín Báez nos cuenta la historia, el desarrollo, la cultura, las costumbres del café y la comidita. De Ancona, nuestro lugar en el Mundo.
                        </div>
                    </div>
                    <img src="../static/images/CafeFilotropico.png" style="height: 150px; width: 150px;" alt="">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="contenido">
                    <img src="../static/images/LiteraturaenConstruccion.png" style="height: 150px; width: 150px;" alt="">
                    <div>
                        <div class="titulo">
                            <h5>LITERATURA EN CONSTRUCCIÓN</h5>
                        </div>
                        <div class="info">
                            Agostina Testa nos trae un mundo increíble. Recomendaciones, lecturas y conciencia social.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col s12">
                <div class="contenido">
                    <div>
                        <div class="titulo">
                            <h5>EL CLUB DE LA PELEA</h5>
                        </div>
                        <div class="info">
                            Roberto Paz Maya y Suicidarce nos traen todas las recomendaciones del Cine.
                        </div>
                    </div>
                    <img src="../static/images/ElClubdeLaPelea.png" style="height: 150px; width: 150px; margin-left: 50px;" alt="">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="contenido">
                    <img src="../static/images/IdentidadBerissense.png" style="height: 150px; width: 150px;" alt="">
                    <div>
                        <div class="titulo">
                            <h5>IDENTIDAD BERISSENSE</h5>
                        </div>
                        <div class="info">
                            Juan Martín Lucero nos recuerda por qué decimos «Soy de Berisso».
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col s12">
                <div class="contenido">
                    <div>
                        <div class="titulo">
                            <h5>JUGANDO CON FUEGO</h5>
                        </div>
                        <div class="info">
                            Carla Carranza rompe mitos y nos lleva a lugares que siempre evitamos. Salud Mental.
                        </div>
                    </div>
                    <img src="../static/images/JugandoConFuego.jpeg" style="height: 150px; width: 150px; border-radius: 50%;" alt="">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="contenido">
                    <img src="../static/images/NutricionPopular.png" style="height: 150px; width: 150px;" alt="">
                    <div>
                        <div class="titulo">
                            <h5>NUTRICIÓN POPULAR</h5>
                        </div>
                        <div class="info">
                            Luli Martínez nos trae consejos, enseñanzas, tips y mucho más para descubrir el mundo de la nutrición saludable y popular.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br>
    <br>

    <footer class="page-footer pie">
        <div class="container">
            <div class="row">
                <div class="col l4 s12 foot-1 center">
                    <div class="foot-1b valign-wrapper">
                        <img  class="center" style="height: 80px; width: 110px;" src="../static/images/logo2.PNG">
                    </div>
                    <div class="foot-1a valign-wrapper center">
                        <div>
                            <h6 class="foot-h5">Sintoniza y disfruta.</h6>
                            <p>Radio 96.1</p>
                            <p>Ciudad Urbana</p>
                        </div>
                    </div>
                </div>
                <div class="col l4 s12 center">
                    <h6 class="white-text">Políticas y Avisos</h6>
                    <ul class="politicas-footer">
                        <li><a href="#" class="c-grey">Aviso Legal</a></li>
                        <li><a href="Politicas-de-privacidad.html" class="c-grey">Política de Privacidad</a></li>
                        <li><a href="#" class="c-grey">Política de Cookies</a></li>
                    </ul>
                </div>
                <!--Links a sus redes sociales-->
                <div class="col l4 s12 center">
                    <h6 class="white-text">Redes Sociales</h6>
                    <div class="container icons">
                        <ul class="icons-redes">
                            <li><a href="https://www.facebook.com/people/Ciudad-Urbana/100081934966603/?ti=as" target="_blank" class="c-grey"><i class="fab fa-facebook fa-2x"></i></a></li>
                      <li><a href="https://x.com/ciudadurbana_ok" target="_blank" class="c-grey"><i class="fab fa-x-twitter fa-2x"></i></a></li>
                      <li><a href="https://www.twitch.tv/ciudadurbana" target="_blank" class="c-grey"><i class="fab fa-twitch fa-2x"></i></a></li>
                      <li><a href="https://www.instagram.com/ciudadurbana96.1/" target="_blank" class="c-grey"><i class="fab fa-instagram fa-2x"></i></a></li>
                      <li><a href="https://www.youtube.com/@ciudadurbana96.1" target="_blank" class="c-grey"><i class="fab fa-youtube fa-2x"></i></a></li>
                      <li><a href="https://api.whatsapp.com/send/?phone=542216438319&text&type=phone_number&app_absent=0" target="_blank" class="c-grey"><i class="fab fa-whatsapp fa-2x"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                © 2025 Ciudad Urbana - Todos los derechos reservados
            </div>
        </div>
    </footer>

    <script src="../static/js/Imagenes.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../static/js/main.js"></script>
    
    <script> document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems, {
          direction: 'left',
          hoverEnabled: false
        });
      });
            
    </script>
    

