<!DOCTYPE html>
<html lang="en">

<head>
    <!--LINKS A LOS CSS Y A PAGINAS CON FUENTE DE TEXTO-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../static/images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciudad Urbana</title>
</head>

<body>
    <div class="header">
        <button href="#" data-target="slide-out" class="sidenav-trigger show-on-large"  id="boton-suscribete">SUSCRIBETE</button>
  <div class="logo">
    <a href="Inicio.html">
      <img src="../static/images/logo2.PNG" style="height: 90px; width: 170px; " alt="Inicio">
    </a>
  </div>
</div>
    

    <!--Barra de navegacion-->
    <div class="navbar">
        <nav class="navbar-custom">
            <div class="nav-wrapper">
                <div class="">
                    <!-- icon mobile-->
                    <a href="#" data-target="mobile-navbar" class="sidenav-trigger">
                        <i class="material-icons center">menu</i>
                    </a>

                    <ul id="navbar-items" class="hide-on-med-and-down center-navbar">
                        <li><a  class="button button--glass" href="newsletter.html">NEWSLETTER</a></li>
                        <li><a  class="button button--glass" href="Beneficios_home.html">BENEFICIOS</a></li>
                        <li  class="selec-navbar"><a  class="button button--glass" href="nosotros.html">NOSOTROS</a></li>
      
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <!--botonflotante-->
    <div class="fixed-action-btn direction-left">
        <a class="btn-floating btn-large btn-flat">
            <i class="fa-solid fa-comments"></i>
        </a>
        <ul>
            <li><a href="https://www.facebook.com/people/Ciudad-Urbana/100081934966603/?ti=as" class="btn-floating btn-flat"><i class="fab fa-facebook fa-2x"></i></a></li>
            <li><a href="https://x.com/ciudadurbana_ok" class="btn-floating btn-flat"><i class="fab fa-x-twitter fa-2x"></i></a></li>
            <li><a href="https://www.twitch.tv/ciudadurbana" class="btn-floating btn-flat"><i class="fab fa-twitch fa-2x"></i></a></li>
            <li><a href="https://www.instagram.com/ciudadurbana96.1/" class="btn-floating btn-flat"><i class="fab fa-instagram fa-2x"></i></a></li>
            <li><a href="https://www.youtube.com/@ciudadurbana96.1" class="btn-floating btn-flat"><i class="fab fa-youtube fa-2x"></i></a></li>
            <li><a href="https://api.whatsapp.com/send/?phone=542216438319&text&type=phone_number&app_absent=0" class="btn-floating btn-flat"><i class="fab fa-whatsapp fa-2x"></i></a></li>
        </ul>
      </div>
      
    </div>

    <!-- menu mobile-->
    <ul id="mobile-navbar" class="sidenav">
        <li><a href="newsletter.html">Newsletter</a></li>
        <li><a href="Beneficios_home.html">Beneficios</a></li>
        <li><a href="nosotros.html">Nosotros</a></li>
        <li ><a href="comunidad.html" class="background-white btn">Únete</a></li>
    </ul>
    <div class="texto">
        <h5>Somos un grupo de jóvenes que hemos vivenciado el viraje que se ha producido en los medios de comunicación.</h5>

        <h5> La inexistencia de un producto que nos interpele, como así también la exclusión de oyentes que solo quieren obtener un pasatiempo agradable, participativo y plural.</h5>
            
            <h5> Por ello nuestro sueño de «Ciudad Urbana» llega para ayudar a un cambio de paradigma, aportar a nuestros oyentes amor y empatía, impregnar en quienes nos escuchan sentimientos loables y desarrollar contenidos que se encuentren a la altura de nuestro presente cultural y social.</h5>
            
            <h4> Ciudad Urbana</h4>



    </div>







    <!--Pie de pagina-->
    <footer style="margin-top: 100px;" class="page-footer pie">
        <div class="container">
            <div class="row">
                <div class="col l4 s12 foot-1 center">
                    <div class="foot-1b valign-wrapper">
                        <img  class="center" style="height: 80px; width: 110px;" src="../static/images/logo2.PNG">
                    </div>
                    <div class="foot-1a valign-wrapper center">
                        <div>
                            <h6 class="foot-h5">Sintoniza y disfruta.</h6>
                            <p>Radio 96.1</p>
                            <p>Ciudad Urbana</p>
                        </div>
                    </div>
                </div>
                <div class="col l4 s12 center">
                    <h6 class="white-text">Políticas y Avisos</h6>
                    <ul class="politicas-footer">
                        <li><a href="#" class="c-grey">Aviso Legal</a></li>
                        <li><a href="Politicas-de-privacidad.html" class="c-grey">Política de Privacidad</a></li>
                        <li><a href="#" class="c-grey">Política de Cookies</a></li>
                    </ul>
                </div>
                <!--Links a sus redes sociales-->
                <div class="col l4 s12 center">
                    <h6 class="white-text">Redes Sociales</h6>
                    <div class="container icons">
                        <ul class="icons-redes">
                            <li><a href="https://www.facebook.com/people/Ciudad-Urbana/100081934966603/?ti=as" target="_blank" class="c-grey"><i class="fab fa-facebook fa-2x"></i></a></li>
                      <li><a href="https://x.com/ciudadurbana_ok" target="_blank" class="c-grey"><i class="fab fa-x-twitter fa-2x"></i></a></li>
                      <li><a href="https://www.twitch.tv/ciudadurbana" target="_blank" class="c-grey"><i class="fab fa-twitch fa-2x"></i></a></li>
                      <li><a href="https://www.instagram.com/ciudadurbana96.1/" target="_blank" class="c-grey"><i class="fab fa-instagram fa-2x"></i></a></li>
                      <li><a href="https://www.youtube.com/@ciudadurbana96.1" target="_blank" class="c-grey"><i class="fab fa-youtube fa-2x"></i></a></li>
                      <li><a href="https://api.whatsapp.com/send/?phone=542216438319&text&type=phone_number&app_absent=0" target="_blank" class="c-grey"><i class="fab fa-whatsapp fa-2x"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                © 2025 Ciudad Urbana - Todos los derechos reservados
            </div>
        </div>
    </footer>

    <script src="../static/js/Imagenes.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../static/js/main.js"></script>

    <script> document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems, {
          direction: 'left',
          hoverEnabled: false
        });
      });
            
    </script>
    

</body>
</html>